<section id="teachers">
    <div class="contenedor">
        <div class="container-title">
           <h3 class="title">Profesores</h3> 
        </div>
        
        <p class="teachers-description">Ya que Hogwarts es una escuela de magia, los alumnos no reciben clases como matemáticas o inglés; se espera que estos tengan una buena noción de esto antes de entrar a la escuela. Antes de ir a Hogwarts, la mayoría de los niños mágicos estudia en casa o asisten a escuelas muggles, principalmente si son nacidos de muggles. </p>
        <div class="container-title">
            <h4 class="sub-title">Asignaturas obligatorias</h4>    
        </div>
        
        <div class="contenedor-servicios">
            <div class="servicio violeta">
                <h4>Herbología</h4>
                <p>
                    Por la profesora <b>Pomona Sprout</b>, la cual les enseña a los estudiantes cómo cuidar apropiadamente las plantas mágicas. 
                    En algún momento antes de 2017, <b>Neville Longbottom</b> regresó a Hogwarts para ocupar el puesto de la profesora Sprout.
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Pociones</h4>
                <p>
                    Por el profesor Severus Snape y por el profesor <b>Horace Slughorn</b>, 
                    los cuales le enseñan a los estudiantes todo acerca de pociones con efectos mágicos.
                </p>
            </div>
            <div class="servicio violeta">
                <h4>Encantamientos</h4>
                <p>
                    Por el profesor <b>Filius Flitwick</b>, en la cual se enseña a los estudiantes una amplia variedad de hechizos. 
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Defensa Contra las Artes Oscuras</h4>
                <p>
                    Que enseña como protegerse de las Artes Oscuras, incluyendo magos y brujas oscuros, a pesar de que la materia varía de año en año. 
                    Ha habido 7 profesores enseñando en ésta clase como lo son: <b>Quirinus Quirrell</b><br><b>Severus Snape</b>
                    
                </p>
            </div>
            <div class="servicio violeta">
                <h4>Astronomía</h4>
                <p>
                    Por la profesora <b>Aurora Sinistra</b>, la cual le enseña a los estudiantes acerca de las estrellas, los planetas, etc, y su aplicación a la magia. 
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Transformaciones</h4>
                <p>
                    Por la profesora <b>Minerva McGonagall</b>, que le enseña a los estudiantes cómo transformar personas, animales y cosas. 
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Vuelo</h4>
                <p>
                    Los alumnos de primer año toman lecciones de vuelo con la profesora <b>Rolanda Hooch</b> en los jardines de Hogwarts, que por lo general es árbitro en los partidos de Quidditch. 
                </p>
            </div>
        </div>
        <div class="container-title">
            <h4 class="sub-title">Asignaturas optativas</h4>    
        </div>
        <div class="contenedor-servicios">
            <div class="servicio violeta">
                <h4>Estudios Muggles</h4>
                <p>
                    Por la Profesora Charity Burbage y después de su muerte Alecto Carrow, donde los estudiantes aprenden acerca de la vida de los Muggles, 
                    el término para la gente no-mágica. En las clases de Alecto Carrow lo único que se dice es que los muggles son inútiles.  
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Cuidado de Criaturas Mágicas</h4>
                <p>
                    por el profesor <b>Rubeus Hagrid</b>, enseña todo sobre las criaturas mágicas. Durante el principio de los años 1995-1996, 
                    cuando Hagrid se encontraba ausente por la tarea de buscar a los gigantes de la montaña junto a <b>Madame Olimpe Maxime</b>  
                </p>
            </div>
            <div class="servicio violeta">
                <h4>Adivinación</h4>
                <p>
                    Por la profesora <b>Sybill Trelawney</b> y el centauro <b>Firenze</b>, la cual le enseña a los estudiantes como predecir futuros eventos. 
                </p>
            </div>
            <div class="servicio celeste">
                <h4>Runas Antiguas</h4>
                <p>
                    Esta asignatura enseña a los estudiantes las escrituras antiguas de la magia rúnica. La bruja que imparte esta materia es <b>Bathsheda Babbling</b>.  
                </p>
            </div>
            <div class="servicio violeta">
                <h4>Aritmancia</h4>
                <p>
                    Los estudiantes aprendían acerca de las propiedades mágicas de los números. La bruja que imparte esta clase es la profesora <b>Séptima Vector</b>. 
                </p>
            </div>
        </div>
    </div>
</section>