<nav class="navInitial" style="margin-bottom: 5px;">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <img style="margin-left: 40px;" src="../../../assets/img/logito.png" alt="TecnoStore Logo" width="80px">
  <img src="../../../assets/img/tipografia.png" alt="TecnoStore Logo" width="200px">
  <ul>
    <li><a class="active" href="#">Home</a></li>
    <li><a href="#">Ingresar</a></li>
    <li><a href="#Contactenos">Contactenos</a></li>
  </ul>
</nav>
<!-- 
<div style="background-color: transparent; color: white; width: 75%; margin: 0 auto;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quasi dolore ipsam possimus sint. Harum quas ullam nihil, officia natus explicabo beatae placeat eum omnis? Impedit iusto esse dolor commodi?
  Doloremque vitae, alias laborum provident quo obcaecati, accusamus, laboriosam dolor deserunt nam at asperiores earum eaque quis. Iusto, exercitationem recusandae. Necessitatibus minus ratione corrupti alias quas ad, dignissimos reprehenderit sequi?
  Tempora minus quasi esse culpa quidem saepe corporis quae, deserunt voluptates in voluptas reiciendis a magni repellat, totam doloribus nemo ratione rerum ex delectus deleniti animi praesentium id sunt. Maxime?
  Sequi eaque recusandae iusto, cum impedit labore suscipit dolore aspernatur, corporis et ex, commodi asperiores beatae qui sit illum doloremque unde! Quidem cum placeat sit tempora culpa perferendis at provident?
  Reiciendis, tempore sequi cumque minima nisi atque earum! Qui commodi perferendis unde tempore atque perspiciatis vitae magnam dolore vel, consequatur nam ea error, assumenda nulla sed vero cupiditate. Quae, nihil.
  Amet optio soluta, repudiandae error molestias placeat quam assumenda. Repudiandae maiores excepturi non, odio, in distinctio nostrum dolor impedit hic iusto velit obcaecati provident atque ut architecto, ipsam laudantium veniam!
  Excepturi, nostrum quisquam. Perspiciatis aliquid dolor cum molestias corporis, quia voluptatem autem soluta hic iure iste adipisci architecto impedit, eius ea saepe sit sed maiores unde magni vero! Officiis, culpa.
  Alias porro ipsum tenetur, illo modi quasi? Quo distinctio quisquam molestiae. Laudantium similique, ducimus ad corporis eveniet, sit obcaecati culpa maxime recusandae totam impedit. Inventore quam animi ipsum doloremque magni.
  Temporibus impedit ex facilis odio sunt, omnis, eius dolor minus numquam vel doloribus quis nemo dolorem reprehenderit ipsa assumenda soluta accusamus enim? Unde ut et doloremque voluptatibus nam exercitationem earum.
  Ad error libero deserunt eos ut, in eligendi facilis, et consequatur itaque, nobis assumenda perspiciatis explicabo aut asperiores id doloribus illum tempore ipsa culpa doloremque? Nulla eum quo harum est.
  Animi dicta eveniet aperiam quas perferendis impedit beatae accusantium aspernatur blanditiis consectetur magni omnis, soluta vero quibusdam sint vel sed laborum. Magnam praesentium necessitatibus totam eveniet error aut unde dolore?
  Facere velit ratione corporis cumque in nulla, tempore incidunt rerum perferendis accusantium optio modi deleniti porro totam earum magnam perspiciatis iusto, suscipit enim, nemo aspernatur. Fugit ipsam libero velit accusantium!
  Qui ipsum dolores officia facere voluptate corporis eius sed nihil illo iste, debitis saepe culpa eligendi repellat, aspernatur distinctio sunt quod ducimus sapiente maxime error possimus obcaecati rem! Ducimus, recusandae?
  Velit, eligendi perspiciatis quidem expedita itaque odio exercitationem! Iste repudiandae provident dolore doloremque sit autem maiores corporis perferendis nam. Fugit dicta repudiandae architecto aut vel quisquam, beatae provident soluta voluptates?
  Nostrum ipsum perspiciatis dolorum dolor blanditiis laudantium atque dignissimos ex, veniam facilis facere placeat ullam hic reprehenderit culpa. Quia corrupti fuga nemo tempora cumque, voluptatem eaque placeat assumenda animi nihil?
  Molestias labore voluptates alias doloremque accusamus aliquid optio suscipit repudiandae dolores? Maiores ipsa quia iusto iure vero dicta numquam fugit facilis, rem laboriosam recusandae nostrum accusantium voluptates repellat ipsum praesentium.
  Repudiandae modi quas numquam dolorum corrupti quis adipisci nostrum, fugit quibusdam deserunt tempore aliquid, alias, earum officiis eaque totam perferendis! Voluptas aliquid, eveniet praesentium ut nisi dolorem culpa illo. Voluptatem.
  Praesentium corporis expedita sint explicabo consequatur nam facere et quasi laborum quaerat in non optio illum nihil, atque quos ab tempore quam. Asperiores placeat quo reiciendis accusamus impedit, hic at.
  Dolorem, recusandae delectus amet, officiis quo animi voluptatibus earum in a veritatis impedit nobis consequuntur esse possimus laudantium non repudiandae iusto quod soluta nulla. Laborum atque amet voluptatem alias dolor.
  Voluptatem corporis minus eius enim qui reiciendis quam sed beatae ex magni iste placeat delectus, nam ipsum aspernatur dolorum unde veritatis corrupti deserunt blanditiis magnam possimus amet ab. Labore, accusantium?
</div>

<img src="../../../assets/img/banner.png" style="display: block; margin: auto; border-top: 1px solid black;" alt="">

<nav class="nav" style="padding: 10px 0;">
  <div class="nav-left">
  <a href="#Computadores">Computadores</a>
  <a href="#Tablets">Tablets</a>
  <a href="#Moviles">Moviles</a>
  <a href="#Relojes">Relojes</a>
  </div>
<div class="nav-rigth">
  <input class="inputSearch" type="text" placeholder="Buscar producto">
</div>
</nav>

<br>
<br>
<br>
<br>
<br>
<img src="../../../assets/img/banner.png" style="display: block; margin: auto; border-top: 1px solid black;" alt="">
 -->
