<footer id="Contactenos" class="footer">
    <div class="footer-left">
        <div>
            <p class="description-footer"><img src="../../../assets/img/web.png" width="20px" alt="Logo White Geek Kingdom"> Online customer service hours: Monday to Friday 7:30 a.m. to 2:45 p.m. </p>
            <p class="description-footer"><img src="../../../assets/img/home.png" width="20px" alt="Logo White Geek Kingdom"> Store Address: 251 E Huron St, Chicago, IL 60611, United States</p>
            <p class="description-footer"><img src="../../../assets/img/time.png" width="20px" alt="Logo White Geek Kingdom"> From Monday to Saturday 10:00 a.m. to 2:00 p.m. / 4:30 p.m. to 8:30 p.m. </p>
            <p class="description-footer"><img src="../../../assets/img/phone.png" width="20px" alt="Logo White Geek Kingdom"> +13126817074 // +13127660314 </p>
            <p class="description-footer"><img src="../../../assets/img/email.png" width="20px" alt="Logo White Geek Kingdom"> tiancamilo59@gmail.com </p>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank" class="social-link facebook"></a>
            <a href="https://www.instagram.com/?hl=es-la" target="_blank" class="social-link instagram"></a>
            <a href="https://twitter.com/" target="_blank" class="social-link twitter"></a>
            <a href="https://web.whatsapp.com/" target="_blank" class="social-link whatsapp"></a>
            <a href="https://github.com/tiancamilo01" target="_blank" class="social-link github"></a>
        </div>
            
    </div>
    <div class="footer-rigth">
        
        <div>
            <p class="description-footer"><img class="imgLogo" src="../../../assets/img/MyLogoWhite2.png" width="150px" alt="Logo Desarrollador"> &nbsp; ©2020 Cristian Camilo Arevalo Perdomo </p>
        </div>
        <div>
            <p class="description-footer">Designed with ❤ by <a style="color: white;" href="https://github.com/tiancamilo01" target="_blank"> @tiancamilo01</a></p>
        </div>
    </div>
</footer>