<div class="container-title">
    <h2 class="title">Año escolar </h2>    
</div>


<p class="description-text">
    El año escolar de Hogwarts está estructurado de manera similar a otros colegios muggles (no-mágicos) en el Reino Unido, con tres trimestres puntuados por vacaciones en Navidad, 
    Pascua y el largo receso de las vacaciones de verano. Los estudiantes pueden optar por quedarse en Hogwarts durante la temporada de Navidad. 
    Aquellos que deciden quedarse en el castillo no tienen clases y asisten a un festín el día de Navidad. Los estudiantes tampoco tienen clases en la semana de Pascua,
    pero esto no es tan divertido por la cantidad de deberes que los profesores asignan a los alumnos antes de esta semana.
    Aparte del verano, Pascua y Navidad, los estudiantes no tienen otros días libres de clases. Existen usualmente cuatro festines al año, el de principio del año o Festín de Bienvenida y el de final de año o Festín de Despedida, 
    al igual que los festines de Halloween y Navidad. En el cuarto año de Harry hubo un quinto festín para celebrar el comienzo del Torneo de los Tres Magos. 
    También, en el segundo año de Harry, el profesor Gilderoy Lockhart decidió celebrar el día de San Valentín para el disgusto del resto de los profesores y un número de estudiantes varones. 
</p>

<div class="container-title">
    <h3 class="sub-title">Etapas de Hogwarts</h3>
</div>

<p class="description-text">En Hogwarts hay diferentes etapas, que son las siguientes: </p>

<p class="description-text">
    Primer y Segundo año: Son los dos cursos menores de Hogwarts. Hay clases obligatorias: Pociones, Transformaciones, Herbología, Encantamientos, 
    Defensa contra las Artes Oscuras, Historia de la Magia y Astronomía. A los de primero también se les enseña Vuelo . 
</p>

<p class="description-text">
    Tercer año: Se pasa a los cursos medianos (Tercero, Cuarto y Quinto). Se tiene que elegir por lo mínimo 2 asignaturas optativas, que son las siguientes: 
    Cuidado de Criaturas Mágicas, Estudios Muggles, Runas Antiguas, Aritmancia y Adivinación. 
</p>

<p class="description-text">
    De Tercer a Quinto año: cursos medianos. Puedes dimitir de algunas asignaturas optativas y entrar en otras que van desde la magia mas pura y limpia hasta la magia negra y la mas mala del mundo.
</p>

<p class="description-text">
    Quinto año: Es el año en que los estudiantes de Hogwarts realizan exámenes finales, más complicados que los de otros años ya que abarcan los conocimientos de los cursos anteriores. Los exámenes se llaman:

    TIMO (Título Indispensable de Magia Ordinaria) en España
    MHB (Matrículas de Honor en Brujería) en Latinoamérica
    OWL's (Ordinary Wizarding Level, para países anglohablantes); que evalúan los conocimientos medios-básicos del mago/bruja. En este curso se evalúan las carreras futuras de los alumnos. 
</p>
<p class="description-text">
    Sexto año: preparación para los EXTASIS, los alumnos sólo cursan las asignaturas en las cuales han conseguido dos tipos de TIMO: "supera las expectativas" o "extraordinario". 
</p>
<p class="description-text">
    Séptimo año: es el curso donde se realizan los EXTASIS (Exámenes Terribles de Alta Sabiduría e Invocaciones Secretas). 
</p>

