
.card-title{
    color: white;
}
.card-text{
    color: white;

}

.horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px 0;
    padding: 20px;
}
.card-img-top{
    min-width: 200px;
    padding-right: 10px;
}