<h2>Instalaciones</h2>
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="../../../assets/img/Hogwarts.webp" alt=""></figure>
        <figure><img src="../../../assets/img/biblioteca.jpg" alt=""></figure>
        <figure><img src="../../../assets/img/bibliotexa.jpg" alt=""></figure>
        <figure><img src="../../../assets/img/enfermeria.webp" alt=""></figure>
        <figure><img src="../../../assets/img/pasillos.jpg" alt=""></figure>
        <figure><img src=" ../../../assets/img/Quidditch.jpg" alt=""></figure>
        <figure><img src="../../../assets/img/tren.jpg" alt=""></figure>
        <figure><img src="../../../assets/img/bibliotexa.jpg" alt=""></figure>
        <figure><img src="../../../assets/img/enfermeria.webp" alt=""></figure>
        <figure><img src="../../../assets/img/pasillos.jpg" alt=""></figure>  
    </div>

</div>

